

.container
{
	display: flex;
	width: 1200px;
}


.justify-center
{
	justify-content: center;
}

.space-between
{
	justify-content: space-between;
}

.topo
{
	display: flex;
	background-color: #00ccff;
}

.logo
{
	padding-top: 10px;
	color: #FFF;
	line-height: 16px;
	font-size: 16px;
	display: block;
}


.menu ul, .menu li
{
	margin:0;
	padding: 10px;
	list-style: none;
}

.menu ul
{
	display: flex;
}

.menu a
{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;
	color: #FFF;
	line-height: 16px;
	font-size: 16px;
}

.corpo
{
	display: flex;
	height: 300px;
	background-color: #cf9;
}

.texto1
{
	
}